---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404, no lo he encontrado'>
	<main class='container justify-center'>
		<p class='text-xl font-bold'>Oh, vaya. ¡Lo has roto!</p>
		<img src='https://midu.dev/images/this-is-fine-404.gif' />
	</main>
</Layout>
