---

---

<div id='hamburgerButton'>
	<span class='line'></span>
	<span class='line'></span>
	<span class='line'></span>
</div>

<!-- <button id='hamburgerButton' class='px-4 py-0 md:hidden'>
	<svg width='24' height='24' viewBox='0 0 24 24'>
		<path fill='transparent' stroke-width='3' class='stroke-slate-100' stroke-linecap='round' id='line1'></path>
		<path fill='transparent' stroke-width='3' class='stroke-slate-100' stroke-linecap='round' id='line2'></path>
		<path fill='transparent' stroke-width='3' class='stroke-slate-100' stroke-linecap='round' id='line3'></path>
	</svg>
</button> -->

<script is:inline>
const hamburgerButton = document.getElementById('hamburgerButton');
const line1 = document.getElementById('line1');
const line2 = document.getElementById('line2');
const line3 = document.getElementById('line3');

let isOpen = false;

hamburgerButton.addEventListener('click', function () {
  isOpen = !isOpen;

  if (isOpen) {
    line1.setAttribute('d', 'M 2 16.346 L 20 16.346');
    line2.style.opacity = '0';
    line3.setAttribute('d', 'M 3 2.5 L 17 16.346');
  } else {
    line1.setAttribute('d', 'M 2 2.5 L 20 2.5');
    line2.style.opacity = '1';
    line3.setAttribute('d', 'M 2 9.423 L 20 9.423');
  }
});
</script>
