---
const currentPath = Astro.url.pathname;

const headerLinks = [
	{ url: '/', title: 'Inicio' },
	{ url: '/profile', title: 'Perfil' },
	{ url: '/mains', title: 'Mains' },
	{ url: '/builds', title: 'Builds' },
];
---

{
	headerLinks.map((link) => (
		<li
			class={`hidden px-4 py-0 text-center text-sm font-bold transition-colors duration-500 hover:text-red-600 dark:hover:text-cyan-300 md:list-item ${
				currentPath === link.url ? 'link-active' : currentPath === '/' ? 'text-zinc-100' : ''
			}`}
		>
			<a href={link.url}>{link.title}</a>
		</li>
	))
}
